section.grace_popular_service h2 {
    color: hsl(208.64deg 57.14% 30.2%);
    text-align: center;
    font-weight: bold;
    -webkit-text-decoration: underline solid hsl(208.8deg 98.04% 20%) 4px;
    text-decoration: underline solid hsl(208.8deg 98.04% 20%) 4px;
    margin-bottom: 60px;
}

section.grace_popular_service {
    margin-top: 70px;
}

.item img {
    width: 350px !important;
}

.item img {
    height: 350px;
    width: 100% !important;
    object-fit: cover;
    border-radius: 8px;
}

button.owl-prev {
    position: absolute;
    top: 38%;
    left: -47px;
    width: 65px !important;
    background-color: #D6D6D6 !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 1px !important;
    font: inherit;
    border-radius: 50px;
}

button.owl-next {
    position: absolute;
    top: 38%;
    right: -47px;
    width: 65px !important;
    background-color: #D6D6D6 !important;
}

button.owl-prev span {
    font-size: 40px;
    font-weight: bold;
    color: #003566;
    top: -8px;
    position: relative;
}

button.owl-next span {
    font-size: 40px;
    font-weight: bold;
    color: #003566;
    top: -8px;
    position: relative;
}

/* media query */

@media (max-width: 768px) {
    button.owl-prev {
        left: 0px !important;
    }

    button.owl-next {
        right: 0px !important;
    }
}